package ${imapperPackage};

import java.io.Serializable;
import java.util.List;
import java.util.Map;

/**
 * Mybatis Mapper Interface
 * @author Zhongl
 * @date 2020/05/24 11:44
 */
public interface IMapper<T> {

    void insert(T t);

    void batchInsert(List<T> list);

    int deleteByKey(Serializable key);

    int deleteByKeys(List<Serializable> keys);

    int updateByKey(T t);

    List<T> select(T t);

    T selectByKey(Serializable key);

    List<T> selectByMap(Map<String,Object> map);

    int count(T t);

    int countByMap(Map<String,Object> map);
}
