package ${iservicePackage};

import com.github.pagehelper.PageInfo;
import ${imapperPackage}.IMapper;

import java.util.List;
import java.util.Map;

/**
 * @author Zhongl
 * @date 2020/05/24 11:58
 */
public interface IService<T,K> {

    IMapper<T,K> getMapper();

    void save(T t);

    void batchSave(List<T> list);

    int delete(K k);

    int batchDelete(List<K> list);

    int update(T t);

    List<T> find(T t);

    T findByKey(K k);

    List<T> findByMap(Map<String,Object> map);

    int count(T t);

    int countByMap(Map<String,Object> map);

    PageInfo<T> findPage(int pageNum, int pageSize);

    PageInfo<T> findPage(int pageNum, int pageSize, T entity);

    PageInfo<T> findPageByMap(int pageNum, int pageSize, Map<String, Object> map);
}
