package ${package};

import ${imapperPackage}.IMapper;
import ${entityPackage}.${entityName};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comment} 数据访问类
 * @author ${author}
 * @date ${date}
 */
@Mapper
public interface ${className} extends IMapper<${entityName}> {

}
