package ${package}.impl;

import ${imapperPackage}.IMapper;
import ${baseServicePackage}.BaseService;
import ${entityPackage}.${entityName};
import ${mapperPackage}.${mapperName};
import ${package}.${className};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * ${comment} 服务接口实现
 * @author ${author}
 * @date ${date}
 */
@Service
@Transactional
public class ${className}Impl extends BaseService<${entityName}> implements ${className} {

    @Autowired
    private ${mapperName} ${mapperRefName};

    @Override
    public IMapper<${entityName}> getMapper() {
        return ${mapperRefName};
    }
}
