package ${package};

import ${iservicePackage}.IService;
import ${entityPackage}.${entityName};

/**
 * ${comment} 服务接口
 * @author ${author}
 * @date ${date}
 */
public interface ${className} extends IService<${entityName}, Long> {

}